{% extends "base.html" %}

{% block content %}
  {% if user.is_authenticated %}
  <ul>
  <h1>Post!</h1>
  </ul>
  <form method="post" action="{% url post %}">
    {% csrf_token %}
    <ul>
        <label for="id_name">Name: {{ user }}</label>
          <div class="controls">
            <input type='hidden' name='name' value='{{user}}' />
            {{ form.topic.label }}<br> {{form.topic}}<br>
            {{ form.content.label }}<br>{{ form.content }}          </div>
        <input class="btn btn-primary" type="submit" value="Add Post"> - {% if Error %}{{ Error }}{% endif %}<br>
    </ul>
  </form>
  {% else %}
    <p>You must be <a href="{% url login %}?path=/blog/post/">signed</a> in to post</p>
  {% endif %}

{% endblock content%}
