{% extends "base.html" %}
{% block webStylez %}
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/docs.css" rel="stylesheet">
  <link href="{{STATIC_URL}}js/google-code-prettify/prettify.css" rel="stylesheet">
<title>Mando Blog</title>
{% endblock %}

   {% block content %}
      {% if Post %}{% for i in Post %}<div class="bs-docs-content"><a href="/posts/{{i.author}}/all/">{{ i.author }}</a> - {{ i.blogDate }} - <small><small><strong>{{ i.topic }}</strong></small></small>...<hr>{{i.content|safe}}</div>comment{% endfor %}{% else %}No Content!{% endif %}<p>
   {% endblock content %}
