{% extends "base.html" %}

{% block forms %}
  {% if user.is_authenticated %}

  <ul>
  <h1>Comment!</h1>
  </ul>
  <form method="post" action="{% url comment %}">
    {% csrf_token %}
    <ul>
        <label for="id_name">Name: {{ user }}</label>
          <div class="controls">
            <input type='hidden' name='name' value='{{user}}' />
            <textarea width=150px  name="text" id="textarea" rows="3" tabindex="4"></textarea>
          </div>
        <input class="btn btn-primary" type="submit" value="Add Post"> - {% if Error %}{{ Error }}{% endif %}<br>
    </ul>
  </form>
  {% else %}
    <p>You must be <a href="{% url login %}?path=/comment/comments.html">signed</a> in to post</p>
  {% endif %}
{% endblock %}

{% block content %}
    <table class="table table-striped" width=400px>
    {% if Post %}
      {% for i  in Post %}
        <tr><td>
        <a href="/comment/allcomments/{{ i.name }}/all/">{{ i.name }}</a> - said on  <small><small>{{ i.cDate }}</small></small>...{% if user.is_authenticated %}<a href="/comment/delete/{{ i.id }}"><small>Delete!</small></a>
        {% if error %}
	<script type="text/javascript">
	window.onload= loaded;
	function loaded()
	{
	alert('{{ error }}');
	}
	</script>{% endif %}{% endif %}
        </td></tr>
        <tr><td>
        {{ i.text }}
        </td></tr>
      {% endfor %}
    {% else %}<h1>Be the first to comment!</h1>
    {% endif %}
{% endblock content%}
